nav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: white;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}



.selector-for-some-widget {
    box-sizing: content-box;
}

/* button go to top */
#myBtn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}

#myBtn:hover {
    background-color: #c1c1c1;
}
/* button go to top */


img{
    width: 100%;
    height: 100%;
}


nav{
    background-color: rgba(187, 166, 166, 0.2);
    /* background-image: url(#.png); */
}




header, nav, main, aside, section, article, footer{display: block;}
header{height: 100vh;}
header>.row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.navbar-brand{margin-left: 5px;}
.navbar-toggler{margin-right: 5px;}

h1,h2,h3,h4,h5,h6{text-align: center;}


/* bootstrapnavoffcanvas.css */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* скрываем горизонтальное прокручивание */
html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        /* #343a40 */
        background-color: #ffffff;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #6f42c1;
}




*,
*:before,
*:after {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}





/* загаловки по центру */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}


/* для навигации убираем подчёркивание и изменяем цвет ссылки */

nav ul li a,
a {
    color: black;
    text-decoration: none;
}

aside > details ul li a {
    border-bottom: 1px solid black;
}
aside > details ul li a:hover {
    border-bottom: 2px solid black;
}




/* убираем маркеры у списков */

aside ul li {
    list-style-type: none;
}

a {
    color: black;
}
