* {
    box-sizing: border-box;
}

body {cursor: url(http://mnogoblog.ru/cur116.cur), progress !important;}

div[class="col"]{
    border: 1px solid #ccc;
    min-height: 50px;
}
main{	
	min-height: 100%;
}
footer{
	width: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
}