.wrapper{ 
	width: 800px;
	outline: 1px solid #cccccc;
	padding:10px;
	margin:0 auto;
}
#header{
	height:77px;
	background-color:red;
	margin-bottom:12px;
}
#sidebarL{
	width:150px;
	background-color:blue;
	margin-bottom:12px;
	float:left;
}
#sidebarR{
	width:150px;
	background-color:blue;
	margin-bottom:12px;
	float:right;
}
#content{
	height:77px;
	background-color:green;
	width:480px;
	margin:0 auto 12px auto;
}
#footer{
	height:77px;
	background-color:yellow;
}
.clear{
	clear:both;
}